/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NAVIGATION */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  background: #fff;
  padding: 0 5%;
  z-index: 2;
}
.nav__left, .nav__right {
  position: relative;
  display: flex;
  align-items: center;
}
.nav__menu {
  font-size: 3.25rem;
  cursor: pointer;
  margin: 0.75rem 1rem 0 0;
}
.nav__title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}
@media (max-width: 425px) {
  .nav__title {
    font-size: 2.5rem;
  }
}
.nav__right {
  align-items: flex-start;
}
.nav__search {
  position: absolute;
  right: 0;
  font-size: 2.75rem;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 3;
}
.nav__search-active {
  transform: translateX(-25rem);
}
.nav__search-input {
  width: 0;
  font-size: 1.25rem;
  border: none;
  border-bottom: 0.1rem solid #000;
  opacity: 0;
  padding: 0.5rem 1rem;
  transition: all 0.7s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.nav__search-input--active {
  width: 25rem;
  opacity: 1;
}
.nav__search-close {
  position: absolute;
  right: 0;
  bottom: 10%;
  display: none;
  font-size: 2rem;
  opacity: 0;
  z-index: 3;
}
.nav__search-close--active {
  display: block;
  opacity: 0.5;
  cursor: pointer;
}
.nav__search-close--active:hover {
  opacity: 1;
}
.nav__modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.8), transparent);
  padding: 20rem 4rem;
  z-index: 1;
  transition: all 0.7s ease;
}
.nav__modal-active {
  left: 0;
  transition: all 0.7s ease;
}
.nav__modal-menu {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 769px) {
  .nav__modal-menu {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .nav__modal-menu {
    width: 100%;
  }
}
.nav__modal-menu--search {
  font-size: 2rem;
  cursor: pointer;
}
.nav__modal-menu--search---input {
  width: 66%;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.1rem solid #000;
  background: none;
  padding: 0 0.5rem;
}
@media (max-width: 768px) {
  .nav__modal-menu--search---input {
    font-size: 1.25rem;
  }
}
.nav__modal-menu--gender {
  font-size: 1.25rem;
}
.nav__modal-menu--gender---select {
  width: 100%;
  height: 4rem;
  background: none;
  padding: 0 1rem;
}
.nav__modal-menu--gender---submit {
  width: 100%;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
}
.nav__modal-menu--link {
  font-size: 1.25rem;
  font-weight: 600;
}
.nav__modal-search {
  display: flex;
  align-items: center;
}
.nav__modal-gender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

/* MAIN */
.main {
  width: 100%;
  height: 100%;
  padding: 12rem 5%;
  transition: all 0.7s ease;
}
.main__blur {
  filter: blur(1rem);
  transition: all 0.7s ease;
}

/* HOME */
.home {
  width: 100%;
  height: 100%;
}
.home__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}
@media (max-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .home__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .home__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home__movie {
  position: relative;
  width: 100%;
  height: 33rem;
  overflow: hidden;
}
.home__movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__movie-infos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  background: linear-gradient(transparent, transparent, #000);
  padding: 2rem;
}
.home__movie-infos--title {
  font-size: 1.7rem;
  font-weight: 800;
  color: #fff;
}
.home__movie-infos--gender {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
}

/* MOVIE */
.movie {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 4rem 0 0 0;
}
.movie__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6rem;
}
@media (max-width: 768px) {
  .movie__container {
    flex-direction: column;
  }
}
.movie__poster {
  width: 33%;
}
@media (max-width: 768px) {
  .movie__poster {
    width: 100%;
  }
}
.movie__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .movie__content {
    gap: 3rem;
  }
}
.movie__content-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.movie__content-year {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .movie__content-year {
    font-size: 2rem;
  }
}
.movie__content-title {
  font-size: 7rem;
  font-weight: 800;
}
@media (max-width: 1024px) {
  .movie__content-title {
    font-size: 5.5rem;
  }
}
@media (max-width: 375px) {
  .movie__content-title {
    font-size: 4rem;
  }
}
.movie__content-description {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.75rem;
  word-spacing: 1rem;
}
.movie__content-gender {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.5;
}
.movie__content-info {
  font-size: 1.5rem;
  font-weight: 600;
}
.movie__content-button {
  width: 100%;
  height: 4rem;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: all 0.7s ease;
}
.movie__content-button:hover {
  color: #fff;
  background: #000;
}

/* SEARCH */
.search {
  width: 100%;
  height: 100%;
}
.search__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__movie {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem;
}
@media (max-width: 768px) {
  .search__movie {
    padding: 4rem 0;
  }
}
.search__movie-poster {
  width: 20%;
}
@media (max-width: 768px) {
  .search__movie-poster {
    width: 25%;
  }
}
.search__movie-infos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.search__movie-infos--title {
  font-size: 2.5rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .search__movie-infos--title {
    font-size: 1.7rem;
  }
}
.search__movie-infos--gender {
  font-weight: 900;
  opacity: 0.5;
  padding: 1rem;
}
.search__movie-infos--description {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 2rem;
}
@media (max-width: 768px) {
  .search__movie-infos--description {
    font-size: 1rem;
    padding: 1rem;
  }
}
.search__empty {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.search__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.search__pagination-prev, .search__pagination-page, .search__pagination-next {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border: 0.1rem solid #000;
}
.search__pagination-page {
  opacity: 0.25;
}

/* ADD */
.add {
  width: 100%;
  height: 100%;
}
.add__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem 10%;
}
@media (max-width: 1024px) {
  .add__container {
    padding: 4rem 5%;
  }
}
@media (max-width: 768px) {
  .add__container {
    padding: 4rem 0;
  }
}
.add__title {
  font-size: 4rem;
}
.add__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.add__form-contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 768px) {
  .add__form-contents {
    flex-direction: column;
  }
}
.add__form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 4rem;
}
@media (max-width: 768px) {
  .add__form-content {
    padding: 2rem;
  }
}
.add__form-label {
  font-size: 2.25rem;
}
@media (max-width: 425px) {
  .add__form-label {
    font-size: 1.75rem;
  }
}
.add__form-input {
  width: 100%;
  height: 4rem;
  font-size: 1.75rem;
  border: none;
  border-bottom: 0.1rem solid #000;
  margin: 2rem;
  padding: 1rem;
}
@media (max-width: 425px) {
  .add__form-input {
    margin: 2rem 0;
  }
}
.add__form-input[type=file] {
  border: none;
}
.add__form-text {
  width: 100%;
  height: 10rem;
  font-size: 1.75rem;
  border-radius: 0.33rem;
  resize: none;
  margin: 2rem;
  padding: 1rem;
}
@media (max-width: 425px) {
  .add__form-text {
    margin: 2rem 0;
  }
}
.add__form-submit {
  width: 100%;
  height: 4rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  margin: 4rem 0;
  cursor: pointer;
  transition: all 0.7s ease;
}
.add__form-submit:hover {
  color: #fff;
  background: #000;
  transition: all 0.7s ease;
}

/*# sourceMappingURL=style.css.map */
