/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NAVIGATION */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  background: #fff;
  padding: 0 5%;
  z-index: 2;

  &__left,
  &__right {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__menu {
    font-size: 3.25rem;
    cursor: pointer;
    margin: .75rem 1rem 0 0;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.05rem;

    @media (max-width: 425px) {
      font-size: 2.5rem;
    }
  }

  &__right {
    align-items: flex-start;
  }

  &__search {
    position: absolute;
    right: 0;
    font-size: 2.75rem;
    cursor: pointer;
    transition: all .7s cubic-bezier(.57,.21,.69,1.25);
    z-index: 3;

    &-active {
      transform: translateX(-25rem);
    }

    &-input {
      width: 0;
      font-size: 1.25rem;
      border: none;
      border-bottom: .1rem solid #000;
      opacity: 0;
      padding: .5rem 1rem;
      transition: all .7s cubic-bezier(.57,.21,.69,1.25);

      &--active {
        width: 25rem;
        opacity: 1;
      }
    }

    &-close {
      position: absolute;
      right: 0;
      bottom: 10%;
      display: none;
      font-size: 2rem;
      opacity: 0;
      z-index: 3;

      &--active {
        display: block;
        opacity: .5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, .8), transparent);
    padding: 20rem 4rem;
    z-index: 1;
    transition: all .7s ease;

    &-active {
      left: 0;
      transition: all .7s ease;
    }

    &-menu {
      width: 33%;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media (max-width: 769px) {
        width: 50%;
      }

      @media (max-width: 425px) {
        width: 100%;
      }

      &--search {
        font-size: 2rem;
        cursor: pointer;

        &---input {
          width: 66%;
          font-size: 1.5rem;
          border: none;
          border-bottom: .1rem solid #000;
          background: none;
          padding: 0 .5rem;
          
          @media (max-width: 768px) {
            font-size: 1.25rem;
          }
        }
      }

      &--gender {
        font-size: 1.25rem;

        &---select {
          width: 100%;
          height: 4rem;
          background: none;
          padding: 0 1rem;
        }

        &---submit {
          width: 100%;
          font-weight: 600;
          border: none;
          background: none;
          cursor: pointer;
        }
      }

      &--link {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    &-search {
      display: flex;
      align-items: center;
    }

    &-gender {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
    }
  }
}

/* MAIN */
.main {
  width: 100%;
  height: 100%;
  padding: 12rem 5%;
  transition: all .7s ease;

  &__blur {
    filter: blur(1rem);
    transition: all .7s ease;
  }
}

/* HOME */
.home {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__movie {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-infos {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 1rem;
      background: linear-gradient(transparent, transparent, #000);
      padding: 2rem;

      &--title {
        font-size: 1.7rem;
        font-weight: 800;
        color: #fff;
      }

      &--gender {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgba(255, 255, 255, .75);
      }
    }
  }
}

/* MOVIE */
.movie {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 4rem 0 0 0;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__poster {
    width: 33%;
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4rem;

    @media (max-width: 1024px) {
      gap: 3rem;
    }

    &-infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &-year {
      font-size: 2.5rem;
      font-weight: 700;
      
      @media (max-width: 1024px) {
        font-size: 2rem;
      }
    }

    &-title {
      font-size: 7rem;
      font-weight: 800;

      @media (max-width: 1024px) {
        font-size: 5.5rem;
      }

      @media (max-width: 375px) {
        font-size: 4rem;
      }
    }

    &-description {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2.75rem;
      word-spacing: 1rem;
    }

    &-gender {
      font-size: 1.5rem;
      font-weight: 500;
      opacity: .5;
    }

    &-info {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &-button {
      width: 100%;
      height: 4rem;
      display: grid;
      place-items: center;
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase;
      border: .1rem solid rgba(0, 0, 0, .1);
      transition: all .7s ease;

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }
}

/* SEARCH */
.search {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__movie {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem;
    
    @media (max-width: 768px) {
      padding: 4rem 0;
    }

    &-poster {
      width: 20%;

      @media (max-width: 768px) {
        width: 25%;
      }
    }

    &-infos {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      &--title {
        font-size: 2.5rem;
        font-weight: 800;
        
        @media (max-width: 768px) {
          font-size: 1.7rem;
        }
      }

      &--gender {
        font-weight: 900;
        opacity: .5;
        padding: 1rem;
      }

      &--description {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 2rem;

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
  }

  &__empty {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    &-prev,
    &-page,
    &-next {
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
      border: .1rem solid #000;
    }

    &-page {
      opacity: .25;
    }
  }
}