/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NAVIGATION */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  background: #fff;
  padding: 0 5%;
  z-index: 2;

  &__menu {
    font-size: 3.25rem;
    cursor: pointer;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.05rem;
  }
}

/* MAIN */
.main {
  width: 100%;
  height: 100%;
  padding: 10rem 5%;
}

/* HOME */
.home {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__movie {
    width: 20%;
    padding: 2rem;

    &-poster {
      transition: all .7s linear;
    }

    &:hover &-poster {
      transform: scale(1.1);
    }
  }
}